<section id="wrapper" class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div align="center" style="padding:24px">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" #userLoginForm="ngForm" (ngSubmit)="OnSubmit(userLoginForm)">
                    <a class="text-center db" href="https://qtradeai.com"><br/><img src="assets/images/logo-text.png" /></a>

                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required ngModel name="username" #username="ngModel" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required #password="ngModel" name="password" ngModel placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Remember me </label>
                            </div>
                            <a (click)="forgot()" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                    <div id="loginload" class="cs-loader" style="">
                        <div class="cs-loader-inner" style="display:flex">
                            <label style="color: #9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Don't have an account? <a class="text-primary m-l-5"><b (click)="onRegister($event)">Sign Up</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>