<div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Change your style! <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <div class="row">
                                <ul class="nav customtab" role="tablist">
                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#second" role="tab"><span class="hidden-sm-up">Updates</span> <span class="hidden-xs-down">Updates</span></a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#theme2" role="tab"><span class="hidden-sm-up">Theme</span> <span class="hidden-xs-down">Theme</span></a> </li>
                                    </ul>
                                </div>
                                <div class="tab-content" style="overflow: auto !important">
                                        <div class="tab-pane active p-t-20" id="second" style="overflow: auto" role="tabpanel">
                                                <p>no updates yet</p>
                                        </div>
                                <div class="tab-pane p-t-20" id="theme2" style="overflow: auto" role="tabpanel">
                                    <p>Hi <strong>{{fullname}}</strong>, don't like our style? no problem. Choose your weapon!</p>
                                    <ul id="themecolors" class="m-t-20">
                                        <li><b>With Light sidebar</b></li>
                                        <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                        <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                        <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                        <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                        <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                        <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                        <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                        <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                        <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                        <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                        <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                        <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                        <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                                    </ul>
                                </div>

                    </div>
                        </div>
                    </div>
                </div>