<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg); position: inherit !important;">
    <div align="center" style="padding:24px">
        <div class="card" align="left" style="width:50%; display: inline-table">
            <div class="card-body">
                <form class="form-horizontal form-material" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
                    <a class="text-center db"><br/><img src="assets/images/logo-text.png" /></a>
                    <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="fullname" #fullname="ngModel" ngModel placeholder="FullName">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="email" #email="ngModel" ngModel placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required #phone="ngModel" name="phone" ngModel placeholder="Phone No">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="col-xs-12" align="left">
                            <label>Date of Birth:</label>
                            <input class="form-control" type="date" required #birthday="ngModel" name="birthday" ngModel placeholder="Birthday">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required #occupation="ngModel" name="occupation" ngModel placeholder="Occupation ex: student">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required #address="ngModel" name="address" ngModel placeholder="Address">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required #username="ngModel" name="username" ngModel placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" name="password" required #password="ngModel" ngModel placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label>Referral</label>
                            <input class="form-control" disabled type="text" value="{{this.parent}}" name="parent" [(ngModel)]="parent" placeholder="use:  '_QT'  if you dont have any">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="col-xs-12">
                            <label>Country</label>
                            <select [(ngModel)]="statesp" #state="ngModel" name="state" value="state" class="form-control">
              <option *ngFor="let x of states" [value]="x.id">{{x.name}}</option>
            </select>
                        </div>
                    </div> -->
                    <!-- <div class="form-group">
                        <div class="col-xs-12">
                            <label style="margin-bottom: 5px">Profile Picture:</label>
                            <input class="form-control" type="file" accept="image/*" required #profileImage="ngModel" name="profileImage" ngModel placeholder="Profile image" (change)="changeListener($event)">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input id="terms" required type="checkbox" (change)="termChanged()">
                                <label for="terms"> I agree to all <a href="https://documents.qtradeai.com">Terms & Conditions</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button id="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" disabled type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div id="loginload" class="cs-loader" style="">
                        <div class="cs-loader-inner" style="display:flex">
                            <label style="color: #9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                            <label style="color:#9098b7">&#9679;</label>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a class="text-info m-l-5"><b (click)="onSignin($event)">Sign In</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>